USE [master]
GO
/****** Object:  Database [asistencia_medica_clinica]    Script Date: 19/8/2025 7:29:49 p. m. ******/
CREATE DATABASE [asistencia_medica_clinica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'asistencia_medica_clinica', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\asistencia_medica_clinica.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'asistencia_medica_clinica_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\asistencia_medica_clinica_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [asistencia_medica_clinica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [asistencia_medica_clinica]
GO
/****** Object:  Table [dbo].[asistencias]    Script Date: 19/8/2025 7:29:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asistencias](
	[id_asistencia] [int] IDENTITY(1,1) NOT NULL,
	[id_medico] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[hora_entrada] [time](7) NULL,
	[hora_salida] [time](7) NULL,
	[estado_asistencia] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_asistencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[citas]    Script Date: 19/8/2025 7:29:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[citas](
	[id_cita] [int] IDENTITY(1,1) NOT NULL,
	[id_medico] [int] NOT NULL,
	[id_paciente] [int] NOT NULL,
	[fecha_cita] [date] NOT NULL,
	[hora_cita] [time](7) NOT NULL,
	[motivo_consulta] [varchar](255) NULL,
	[fecha_creacion] [datetime] NULL,
	[estado] [varchar](20) NULL,
	[notas] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[herramientas]    Script Date: 19/8/2025 7:29:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[herramientas](
	[id_herramienta] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [text] NOT NULL,
	[tipo] [varchar](50) NOT NULL,
	[formula] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_herramienta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[horarios_disponibles]    Script Date: 19/8/2025 7:29:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[horarios_disponibles](
	[id_horario] [int] IDENTITY(1,1) NOT NULL,
	[id_medico] [int] NOT NULL,
	[dia_semana] [varchar](20) NOT NULL,
	[hora_inicio] [time](7) NOT NULL,
	[hora_fin] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_horario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[justificativos]    Script Date: 19/8/2025 7:29:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[justificativos](
	[id_justificativo] [int] IDENTITY(1,1) NOT NULL,
	[id_asistencia] [int] NOT NULL,
	[motivo] [varchar](255) NOT NULL,
	[fecha_presentacion] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_justificativo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medicos]    Script Date: 19/8/2025 7:29:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicos](
	[id_medico] [int] IDENTITY(1,1) NOT NULL,
	[nombre_completo] [varchar](100) NOT NULL,
	[especialidad] [varchar](100) NULL,
	[telefono] [varchar](20) NULL,
	[correo] [varchar](100) NULL,
	[estado] [char](1) NULL,
	[fecha_creacion] [datetime] NULL,
	[fecha_actualizacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_medico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pacientes]    Script Date: 19/8/2025 7:29:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pacientes](
	[id_paciente] [int] IDENTITY(1,1) NOT NULL,
	[nombre_completo] [nvarchar](100) NOT NULL,
	[cedula] [nvarchar](20) NOT NULL,
	[fecha_nacimiento] [date] NULL,
	[genero] [nvarchar](10) NULL,
	[telefono] [nvarchar](15) NULL,
	[correo] [nvarchar](100) NULL,
	[direccion] [nvarchar](255) NULL,
	[estado] [nvarchar](10) NOT NULL,
	[tipo_sangre] [nvarchar](10) NULL,
	[observaciones] [nvarchar](max) NULL,
	[fecha_creacion] [datetime] NULL,
	[fecha_actualizacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_paciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_reset_tokens]    Script Date: 19/8/2025 7:29:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_reset_tokens](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[token] [nvarchar](100) NOT NULL,
	[expiration] [datetime] NOT NULL,
	[used] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[patologias]    Script Date: 19/8/2025 7:29:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patologias](
	[id_patologia] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [text] NOT NULL,
	[clinica] [text] NOT NULL,
	[pruebas_diagnosticas] [text] NOT NULL,
	[tratamientos] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_patologia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[patologias_herramientas]    Script Date: 19/8/2025 7:29:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patologias_herramientas](
	[id_patologia] [int] NOT NULL,
	[id_herramienta] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_patologia] ASC,
	[id_herramienta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[perfusiones]    Script Date: 19/8/2025 7:29:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[perfusiones](
	[id_perfusion] [int] IDENTITY(1,1) NOT NULL,
	[nombre_farmaco] [varchar](100) NOT NULL,
	[dosis_recomendada] [varchar](100) NOT NULL,
	[descripcion] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_perfusion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 19/8/2025 7:29:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre_rol] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[turnos]    Script Date: 19/8/2025 7:29:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[turnos](
	[id_turno] [int] IDENTITY(1,1) NOT NULL,
	[id_medico] [int] NOT NULL,
	[tipo_turno] [varchar](50) NOT NULL,
	[hora_inicio] [time](7) NOT NULL,
	[hora_fin] [time](7) NOT NULL,
	[fecha] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_turno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 19/8/2025 7:29:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre_completo] [varchar](100) NOT NULL,
	[usuario_login] [varchar](50) NOT NULL,
	[contraseña] [varchar](255) NOT NULL,
	[id_rol] [int] NOT NULL,
	[cedula] [varchar](20) NULL,
	[telefono] [varchar](15) NULL,
	[gmail] [varchar](100) NULL,
	[activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[usuario_login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[citas] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[citas] ADD  DEFAULT ('pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[medicos] ADD  DEFAULT ('A') FOR [estado]
GO
ALTER TABLE [dbo].[medicos] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[medicos] ADD  DEFAULT (getdate()) FOR [fecha_actualizacion]
GO
ALTER TABLE [dbo].[pacientes] ADD  DEFAULT ('A') FOR [estado]
GO
ALTER TABLE [dbo].[pacientes] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[password_reset_tokens] ADD  DEFAULT ((0)) FOR [used]
GO
ALTER TABLE [dbo].[password_reset_tokens] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[asistencias]  WITH CHECK ADD FOREIGN KEY([id_medico])
REFERENCES [dbo].[medicos] ([id_medico])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[citas]  WITH CHECK ADD FOREIGN KEY([id_medico])
REFERENCES [dbo].[medicos] ([id_medico])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[citas]  WITH CHECK ADD FOREIGN KEY([id_paciente])
REFERENCES [dbo].[pacientes] ([id_paciente])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[horarios_disponibles]  WITH CHECK ADD FOREIGN KEY([id_medico])
REFERENCES [dbo].[medicos] ([id_medico])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[justificativos]  WITH CHECK ADD FOREIGN KEY([id_asistencia])
REFERENCES [dbo].[asistencias] ([id_asistencia])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[password_reset_tokens]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[patologias_herramientas]  WITH CHECK ADD FOREIGN KEY([id_herramienta])
REFERENCES [dbo].[herramientas] ([id_herramienta])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[patologias_herramientas]  WITH CHECK ADD FOREIGN KEY([id_patologia])
REFERENCES [dbo].[patologias] ([id_patologia])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[turnos]  WITH CHECK ADD FOREIGN KEY([id_medico])
REFERENCES [dbo].[medicos] ([id_medico])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD FOREIGN KEY([id_rol])
REFERENCES [dbo].[roles] ([id_rol])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[asistencias]  WITH CHECK ADD CHECK  (([estado_asistencia]='Tarde' OR [estado_asistencia]='Ausente' OR [estado_asistencia]='Asistió'))
GO
ALTER TABLE [dbo].[herramientas]  WITH CHECK ADD CHECK  (([tipo]='Calculadora' OR [tipo]='Escala'))
GO
ALTER TABLE [dbo].[horarios_disponibles]  WITH CHECK ADD  CONSTRAINT [CK_dia_semana_valido] CHECK  (([dia_semana]>=(1) AND [dia_semana]<=(7)))
GO
ALTER TABLE [dbo].[horarios_disponibles] CHECK CONSTRAINT [CK_dia_semana_valido]
GO
ALTER TABLE [dbo].[medicos]  WITH CHECK ADD CHECK  (([estado]='I' OR [estado]='A'))
GO
ALTER TABLE [dbo].[pacientes]  WITH CHECK ADD CHECK  (([estado]='I' OR [estado]='A'))
GO
ALTER TABLE [dbo].[turnos]  WITH CHECK ADD CHECK  (([tipo_turno]='Cirugía' OR [tipo_turno]='Guardia' OR [tipo_turno]='Consulta'))
GO
USE [master]
GO
